<!-- Main Content -->
    <main class="container">
        <div class="about">
          <h1 class="display-hello">Hello, I am Christy Jose
          </h1>
          <h2 class="display-designation">Backend Developer | Software Engineer | JAVA Developer</h2>
        </div>
        <div>
          <div class="row">
            <div class="myimage">
              <img src="/Assets/images/christy_photo.jpg" alt="MyPhoto" class="my_photo" width="200" height="200">
            </div>
            <div class="screen">
              <div class="screen-body">
                <ul>
                  <li>5+ years of IT industry experience, including with technologies including Java, REST API, SQL,
                    Oracle, J2EE, JSON, JUnit and Spring Boot</li>
                  <li> Skilled in developing applications in Eclipse, IntelliJ IDEA and JBoss</li>
                  <li> Knowledgeable of full software development life cycle, testing/QA & deployment</li>
                  <li> Proficient with JUnit for testing of applications to improve code optimization and quality</li>
                  <li> Experienced in liaising with clients for requirements gathering and solutions-seeking</li>
                  <li> Demonstrated proficiency with technical documentation and report writing</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="btn-resume">
        <a class="resume_link" href="Documents/ChristyJose_Resume.pdf">My Resume</a>
      </div>
    </main>