<!-- Main Content -->
    <main class="container">
        <div class="about">
          <h1 class="display-hello">Business Data Generator
          </h1>
          <h2 class="display-designation">Production | Services </h2>
        </div>
        <div>
          <div class="row">
            <div class="myimage">
              <img src="/Assets/images/business data generator-photo.png" alt="MyPhoto" class="my_photo" width="200" height="200">
            </div>
            <div class="screen">
              <div class="screen-body">
                <ul>
                  <li>Business Data Generator is an IT administrations, counseling and commerce arrangements organization that has been joining forces with numerous of the world’s biggest businesses for the past 50 a long time. </li>
                  <li>We accept development and collective information can change all our prospects with more noteworthy reason.</li>
                  <li>Building greater futures through innovation and collective knowledge</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      
    </main>