<!-- Main Content -->
  <main class="container">
    <div class="contact">
        <div class="screen">
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>CONTACT</span>
                <span>ME</span>
              </div>
              <div class="app-contact">CONTACT INFO : +1 437-424-1395</div>
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="FIRST NAME" >
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="LAST NAME" >
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="CONTACT NO">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL">
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" placeholder="MESSAGE">
                </div>
                <div class="app-form-group buttons">
                  <button  class="app-form-button">
                  <a id="aCancel" href="/home">CANCEL</a>
                </button>
                  <button id = "submit" class="app-form-button" onclick="fun()">SEND MESSAGE </button>
                </div>
              </div>
            </div>
          </div>        
      </div>
    </div>
    
  </main>

  

  
  




