<!-- Main Content -->
  <main class="container">
      <div class="screen">
        <div class="screen-body">
      <div class="display-welcome"><h2>Welcome !!
        <div class="display-welcome-1">
        World's Most Admired Enterprise.
        </div>
        <div class="display-welcome-2">Let's chat 
          <a class="contact_link" href="/contact">Contact Us</a>
        </div>
        <div class="display-welcome-3">
          Please have a look at our projects
        
        </div>
        <div class="display-welcome-4">
        Thank you for taking the time to visit our website.
        </div>
      </h2>
        </div>
  </main>

  




