<!-- Main Content -->
  <main class="container">
      <div class="screen">
        <div class="screen-body">
      <div class="display-welcome"><h2>Welcome to my profile!
        <div class="display-welcome-1">
        I am a Software Engineer..  I can help you solve a problem, provide tutorials on programming languages, build a project or enhance the existing projects..
        </div>
        <div class="display-welcome-2">Let's chat 
          <a class="contact_link" href="/contact">Contact me</a>
        </div>
        <div class="display-welcome-3">
          Please have a look at my experiences before trusting me. 
        <a class="about_link" href="/about">My Profile</a>
        </div>
        <div class="display-welcome-4">
        Thank you for taking the time to visit my portfolio and know a little about me...
        </div>
      </h2>
        </div>
  </main>

  




