<!-- Main Content -->
  <main class="container">
    <div class="screen">
      <div class="screen-body">
        <div class="column-1">
      <h4>Mobile Application</h4>
      <div class="image-1">
        <img src="/Assets/images/mobileprjt.jpg" alt="MobileApp" class="my_first_prjt" width="200" height="200">
      </div>
        <li>Designed a responsive, user-oriented application for a user to secure the files in their personal device in a hidden folder</li>
        <li>Used Languages - Android, Java</li>
      </div>

    <div class="column-1">
      <h4>SRS</h4>
      <div class="image-2">
        <img src="/Assets/images/SRS.jpg" alt="srs" class="my_second_prjt" width="200" height="200">
      </div>
        <li>Collaborated for an SRS document related to a web application for an online job portal</li>
        <li> Agile methodology within a team</li>
    </div>
    <div class="column-1">
        <h4>Enrollment Application </h4>  
        <div class="image-3">
          <img src="/Assets/images/enrollment.jpg" alt="enrollment" class="my_third_prjt" width="200" height="200">
        </div>   
      <li>Created a web application with Oracle that allows school management to enroll and manage data of its students</li>
        <li> Used GitHub to handle the versions of code</li>
        <li>Used Trello application to communicate within team members</li>
        <li>Used Languages - Oracle, Java, JavaFX </li>
    </div>
    </div>
    </div>
  </main>

  




