 <!-- Main Content -->
  <main class="container">
      <h1 class="display-4">My Skills
      </h1>
    </div>
    <div class="screen">
      <div class="screen-body">
          <div class="column-1">
            <img src="/Assets/images/services.jpg" alt="MyPhoto" class="my_service" width="200" height="200">
          </div>
          <div class="column-1"><h4>  Courses :</h4>
            <ul>  
            <li>Java Programming</li>
            <li>Testing & QA</li>
            <li>Software Systems Design</li>
            <li>Web App Development</li>
            <li>Data Structures & Algorithms</li>
            <li>Mobile App Development</li>
            </ul>
          </div>
          <div class="column-1"><h4>  Technical Knowledge :</h4>
            <ul>  
              <li>Java, C, C++, C#, HTML, CSS</li>
              <li>Java Spring Boot, JUnit, REST API</li>
              <li>MySQL, Oracle</li>
              <li>JIRA & SMOD ticketing tools</li>
              <li>Windows & Linux Operating systems</li>
              <li>Waterfall & Agile methodolgies</li>
            </ul>
          </div>
        </div>
      </div>
  </main>
  

  




