 <!-- Main Content -->
  <main class="container">
      <h1 class="display-4">Our Story
      </h1>
    </div>
    <div class="screen">
      <div class="screen-body">
          <div class="column-1">
            
          </div>
          <div class="column-1"><h4></h4>
            <ul>  
            <li>CBIC consolidated its IT infrastructure in 2009 and moved from distributed architecture to a centralized data center model. Building on the success of this program, the ministry conceptualized Project Saksham in the year 2015 to refresh CBIC’s IT landscape using state of the art technologies. A key goal behind this technology upgrade was to ensure readiness for new business initiatives including GST implementation which was to come into effect in July 2017.  </li>
            </ul>
          </div>
          
        </div>
      </div>
  </main>
  

  




